:root {
  --main-color: #252539;
  --second-color: #0ff;
  --size: 8;
  --width-cell: 40px;
  --heigth-cell: 40px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Slackey", sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--main-color);
  gap: 14px;
}

.title-game {
  margin: 0;
  font-size: 2rem;
  color: var(--second-color);
}

.board-container {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--size), 1fr);
  padding: 0;
  margin: 0;
  gap: 1px;
  list-style: none;
}

.cell {
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  width: var(--width-cell);
  height: var(--heigth-cell);
  border: 1px solid var(--main-color);
  background-color: var(--second-color);
  border-radius: 4px;
  color: var(--main-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: rgb(9, 209, 209);
  }
}

.mine-black {
  background-color: #2525396f;
  border: 2px dotted #ec0f0f;
  border-radius: 3px;
  width: 100%;
}

.hidden {
  visibility: hidden;
}
