* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Slackey", sans-serif;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #252539;
  gap: 10px;
}

.title-game {
  font-size: 2rem;
  color: #0ff;
}
